<!doctype html> 

<html>
<head>
	<title>Friends</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/westudy.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f45b5b100.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: #f1f4f9">
     <div class="container main">
         <div class="head">
            <h1>Friends</h1>
         </div>

        <!-- Dropdown menu to navigate between different pages of awards-->
        <div class="dropdown">
            <button class="dropbtn">Filter By:</button>
            <div class="dropdown-content">
                <a href="/groups">My Groups</a>
                <a href="/friends">My Friends</a>
            </div>
        </div><br>

        <div id="searchList">
             <div class="search">
                 <input type="text" placeholder="Search name..." name="searchBar"id ="searchFriends" onkeyup="myFriends()">
                 <button>Search</button>
             </div><br>
         </div>
             
        <ul id="friendsList">
            {{#each friends}}
             <li>
                 <div class="friends" id="friend{{id}}">
                     <img class="avatar" src="../../images/avatar.jpeg" alt="avatar"><p>&nbsp</p><a href="/profile">{{name}}</a><p>&nbsp is currently working on<br>{{task}}</p><br>
                 </div><br>
                 <div class="tasks"><p>Tasks Completed = {{complete_task}} <br> Total Tasks = {{total_task}}</p></div>
                 <div class="progress">
                     <label for="tasks">Task Progress:&nbsp</label><progress value= {{complete_task}} max={{total_task}}></progress>
                 </div>
             </li>
             {{/each}}
         </ul>
     </div>

 <!-- Navigation bar -->
    {{>navbar}}

    <!-- JavaScript info -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/search.js"></script>

</body>
</html>