<!doctype html> 

<html>
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/westudy.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f45b5b100.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: #f1f4f9">
    <div class="head">
        <h1>Home</h1>
        <h3><img class="profile-avatar" src="../../images/avatar.jpeg" alt="avatar"> Name</h3>
    </div>

    <div class="overview main">
        <h4>Today</h4>
         <ul id="task-list">
        {{#each tasks}}
            <li><p>{{taskName}}</p></li>
        {{/each}}
        </ul>

        <h4>This Week</h4>
         <ul id="task-list">
        {{#each futuretasks}}
            <li><p>{{taskName}}</p></li>
        {{/each}}
        </ul>

        <h4>Scheduled Breaks</h4>
        <ul id="breaks">
         {{#each breaks}}
            <li>
              <ul class="task-list">
                 <li>{{what}}, {{start}} - {{end}}</li>
              </ul>
            </li>
         {{/each}}
        </ul>

        <h4>Friends</h4>
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar"><br>

        <h4>Groups</h4>
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar"><br><br>
    </div>

 <!-- Navigation bar -->
    {{>navbar}}

    <!-- JavaScript info -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

</body>
</html>